In [1]:
# Dependencies

import pandas as pd

import gmaps

import requests

import sys

sys.path.append("../API_keys")

from config import gmaps_key

In [2]:
# Store the csv to a dataframe

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lavrentiya,RU,2022-06-26 18:21:11,65.5833,-171.0000,43.61,94,100,5.53
1,1,Upernavik,GL,2022-06-26 18:21:12,72.7868,-56.1549,39.70,86,99,2.77
2,2,Annecy-Le-Vieux,FR,2022-06-26 18:21:12,45.9197,6.1439,79.68,65,0,4.61
3,3,Oudtshoorn,ZA,2022-06-26 18:21:13,-33.5907,22.2014,50.36,55,9,3.38
4,4,Bida,NG,2022-06-26 18:21:14,9.0833,6.0167,79.63,80,100,3.02

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaaps to use your Google API key

gmaps.configure(api_key=gmaps_key)

In [5]:
# Get the maximum temperature.

# max_temp = city_data_df["Max Temp"]

# temps = []

# for temp in max_temp:
    
#     temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs

locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values

max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer to the heatmap_layer attribute and add in the locations

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)



# 5. Add the heatmap layer

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temp value

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [24]:
# Filter the dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Annecy-Le-Vieux,FR,2022-06-26 18:21:12,45.9197,6.1439,79.68,65,0,4.61
4,4,Bida,NG,2022-06-26 18:21:14,9.0833,6.0167,79.63,80,100,3.02
20,20,Dingle,PH,2022-06-26 18:21:22,10.9995,122.6711,77.22,88,100,2.48
21,21,Cabedelo,BR,2022-06-26 18:21:23,-6.9811,-34.8339,83.07,77,44,10.33
25,25,Kapaa,US,2022-06-26 18:21:25,22.0752,-159.3190,78.78,78,75,13.80
27,27,Atuona,PF,2022-06-26 18:21:26,-9.8000,-139.0333,78.15,67,36,20.09
28,28,La Union,PE,2022-06-26 18:21:26,-5.4000,-80.7500,78.60,45,26,8.72
31,31,Buchanan,LR,2022-06-26 18:21:28,5.8808,-10.0467,79.12,84,92,9.73
32,32,Manggar,ID,2022-06-26 18:21:28,-2.8833,108.2667,80.82,81,100,7.25
37,37,Nikolskoye,RU,2022-06-26 18:21:30,59.7035,30.7861,78.69,60,2,4.16

In [25]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [26]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2   Annecy-Le-Vieux      FR     79.68  45.9197    6.1439
4              Bida      NG     79.63   9.0833    6.0167
20           Dingle      PH     77.22  10.9995  122.6711
21         Cabedelo      BR     83.07  -6.9811  -34.8339
25            Kapaa      US     78.78  22.0752 -159.3190
27           Atuona      PF     78.15  -9.8000 -139.0333
28         La Union      PE     78.60  -5.4000  -80.7500
31         Buchanan      LR     79.12   5.8808  -10.0467
32          Manggar      ID     80.82  -2.8833  108.2667
37       Nikolskoye      RU     78.69  59.7035   30.7861

In [27]:
# Set parameters to search for a hotel

params = {
    
    "radius": 5000,
    
    "type": "lodging",
    
    "key": gmaps_key
    
}

In [29]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]
    

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Annecy-Le-Vieux,FR,79.68,45.9197,6.1439,Hôtel des Alpes
4,Bida,NG,79.63,9.0833,6.0167,Royal Suite
20,Dingle,PH,77.22,10.9995,122.6711,SEGAYA PROPERTY
21,Cabedelo,BR,83.07,-6.9811,-34.8339,Pousada Camboinha
25,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Atuona,PF,78.15,-9.8000,-139.0333,Villa Enata
28,La Union,PE,78.60,-5.4000,-80.7500,Los Portales
31,Buchanan,LR,79.12,5.8808,-10.0467,Kamaneahn Hotel Inc
32,Manggar,ID,80.82,-2.8833,108.2667,Guest Hotel
37,Nikolskoye,RU,78.69,59.7035,30.7861,Tourist House - Sablino

In [34]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

In [35]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             
            max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))